{
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "plugins": ["jest"],
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:jest/recommended"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018
  },
  "settings": { "jest/globals": true },
  "rules": {
    "linebreak-style": ["error", "unix"],
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error"
  }
}
